@font-face {
    font-family: 'fuentePrincipal';
    src: url('/font/Brandbe\ Extra\ Bold.otf');
}
:root {

    --fuenteSecundaria: 'Quicksand', sans-serif;
    --primario: #1073BA;
    --secundario: #00DA55;
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --verde: #0a3520;
    --grisclaro: #E1E1E1;

    --separacion: 3em;
}

body{
    font-family: var(--fuenteSecundaria);
    font-size: 14px;
    /* font-family: "fuente-principal" */
}
.contenedor{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
h1, h2, h3{
    margin: 0;
    padding: 0;
}
/*Utilidades*/
.text-center{
    text-align: center;
}

.header{
    background-color: var(--verde);
    padding: calc(var(--separacion)*2) 0;
    color: var(--blanco)
}
.contenido-header{
    text-align: center;
}
.texto-header h1{
    font-size: 6rem;
    font-family: 'fuentePrincipal';
}
.air-max{
    font-size: 1.5rem;
    margin-bottom: 0;
}
.degradado{
    color:transparent;
    background: linear-gradient(
        to right,
        #582f0e,
        #7f4f24,
        #936639,
        #a68a64,
        #b6ad90,
        #c2c5aa,
        #a4ac86,
        #656d4a,
        #414833,
        #333d29);
    -webkit-background-clip: text;
    background-clip: text;
}
.precio-producto span{
    font-size: 3rem;
    font-family: 'fuentePrincipal';
} 
.caracteristicas{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.caracteristicas img{
    margin: 0 auto;
}



.sobrenike{
    background-image: linear-gradient(to bottom, transparent 50%, var(--verde) 0%), url('/img/primer\ fondo\ png.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
}
.sobrenikegrid{
    display: grid;
    grid-template-rows: repeat(2, 15rem);
    row-gap: 2rem;
}
.textosobrenike{
    grid-row: 2/3;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.textosobrenike h2{
    font-size: 2rem;
}




 /*Personalizando sección modelos de nike */
.modelos{
    padding-top: 4rem;
}
.modelos h2{
    font-family: 'FuentePrincipal';
    font-size: 4rem;
    padding-bottom: 2rem;
}

.listado-modelos{
    display: flex;
    flex-direction: column-reverse;
}
.modelo{
    margin-bottom: 2rem;
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 10rem;
    padding: 2rem;
    color:black;
    border-radius: 2rem;
    background-color: #dee2e6;
    font-size: 1.2rem;
    transition: all .3s;
}
 /*selecciona el último modelo, recuerda que tiene una direción de colum-reverse*/
.modelo:last-of-type{
    background-color:#b6ad90;
    color:white;
}
.modelo-x{
    background-image: url('/img/img1.png');
}
.modelo-y{
    background-image: url('/img/img2.png');
}

.modelo-z{
    background-image: url('/img/img3.png');
}

.modelo-z h3{
    font-size: 2rem;
}
.modelo:hover{
    transform: scale(1.05);
    cursor: pointer;
}



@media only screen and (min-width: 768px) {
    /* For desktop: */
    body{
        font-size: 16px;
    }
    .contenido-header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contenido-header{
        text-align: left;
    }
    .caracteristicas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .sobrenike{
        background-image: linear-gradient(to left, transparent 50%, var(--verde) 0%), url('/img/primer\ fondo\ png.png');
        background-repeat: repeat;
        background-position: right;
        background-size: contain;
    }
    
    .sobrenikegrid{
        grid-template-rows: unset;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        height: 15rem;
    }
    
    .textosobrenike{
        grid-row: 1/2;
    }
    .textosobrenike h2{
    font-family: 'fuentePrincipal';
    font-size: 4rem;
    }

    .modelos{
        margin-bottom: 2rem;
    }
    .modelo{
        margin-bottom: 0;
        background-size: 15rem;
    }
    .listado-modelos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
    .modelo-z{
        grid-column: 2 / 3;
        grid-row: 1 /3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: 25rem;
        font-size: 2rem;
    }
    .modelo-z h3{
        font-size: 2rem;
    }
  }